.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(0, 77, 96),rgb(0, 216, 187));
    margin: 0;
    padding: 20px;
    box-sizing: 500px;
  }

  body {
    margin: 0;
    padding: 0; 
  }


  
  .App-header {
  
    padding: 20px;
    
    color: white;
  }

  .Name{
    color:white;
    font-family: cursive;
  }
  
  form {
    margin: 20px 0;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    
  }
  
  li {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  li span {
    cursor: pointer;
    flex: 1;
  }
  
  li button {
    margin-left: 10px;
  }
  
  .due-soon span {
    color: red;
  }
  
